<!-- Header
============================================= -->
<header id="header" class="transparent-header dark" data-sticky-class="not-dark">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="index.html" class="standard-logo" data-dark-logo="/pet/images/logo-dark.png"><img src="/pet/images/logo.png" alt="Canvas Logo"></a>
                <a href="index.html" class="retina-logo" data-dark-logo="/pet/images/logo-dark@2x.png"><img src="/pet/images/logo@2x.png" alt="Canvas Logo"></a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="not-dark">

                <ul>
                    <li><a href="#"><div>About us</div></a></li>
                    <li><a href="#"><div>Community</div></a></li>
                    <li><a href="#"><div>FAQs</div></a></li>
                    <li class="bgcolor"><a href="#"><div>Register</div></a></li>
                </ul>

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->


<!-- Slider
============================================= -->
<section id="slider" class="slider-element full-screen clearfix" style="background: url('/pet/images/hero-image.jpg') center right no-repeat; background-size: cover;">
	<div class="vertical-middle">
		<div class="container clearfix">

			<div class="emphasis-title dark">
				<h2 style="font-size: 40px; line-height: 1.4; font-weight: 600; text-shadow: 1px 1px 1px rgba(0,0,0,0.5);">Dogs are not our whole Life,<br>But they make our Lives whole.</h2><br>
				<p class="t300" style="font-size: 16px; opacity: .7;">Nisl blandit adipisci gravida blandit soluta, explicabo orci, distinctio <br>duis unde provident suspendisse orci? Recusandae! Proident,<br>quos do mi cupidatat.</p>
				<a href="#" class="button button-large button-rounded noleftmargin">Join Us Now</a><span class="leftmargin-sm">+</span>
				<a href="#" class="button nobg noshadow"><i class="icon-gift" style="width: 40px; font-size: 40px; top: 10px;"></i></a>
				<br><em><small style="opacity: 0.4;">Every month a surprise gift*</small></em>

			</div>

		</div>
	</div>
</section>
