<!-- Header
============================================= -->
<header id="header" class="transparent-header dark" data-sticky-class="not-dark">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="index.html" class="standard-logo" data-dark-logo="/pet/images/logo-dark.png"><img src="/pet/images/logo.png" alt="Canvas Logo"></a>
                <a href="index.html" class="retina-logo" data-dark-logo="/pet/images/logo-dark@2x.png"><img src="/pet/images/logo@2x.png" alt="Canvas Logo"></a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="not-dark">

                <ul>
                    <li><a href="#"><div>About us</div></a></li>
                    <li><a href="#"><div>Community</div></a></li>
                    <li><a href="#"><div>FAQs</div></a></li>
                    <li class="bgcolor"><a href="#"><div>Register</div></a></li>
                </ul>

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->
