$red: #C62828;
$blue: #2196F3;
$blue: #1E88E5;
$blue3: #0D47A1;
$black: #000000;
$white: #FFFFFF;
$grey: #CFD8DC;
$green: rgb(137, 172, 108);

.green{
    background-color: $green;
}

.green-text{
    color: $green;
}

.blue{
    background-color: $blue;
}

.blue-text{
    color: $blue;
}

.red{
    background-color: $red;
}

.red-text{
    color: $red;
}
